html {
    background-color: #3b3b3b;
    color: white;
}

textarea {
    background-color: #3b3b3b;
    color: white;
}

button {
    background-color: #3b3b3b;
    color: white;
}

.error {
    color: rgb(255, 49, 49);
}