html {
    background-color: #3b3b3b;
    color: white;
}

textarea {
    background-color: #3b3b3b;
    color: white;
}

button {
    background-color: #3b3b3b;
    color: white;
}

.dialog {
    background-color: #3b3b3b;
}

.dialog .header {
    background-color: #333333;
}

.codeTextarea {
    border: 1px solid #333333
}

.error {
    color: #ff3131;
}