html {
    font-size: 16px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    height: 100%;
}

.codeForm {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.codeTextarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    border: 1px solid #c5c5c5;
    padding: 8px;
    tab-size: 4;
    white-space: nowrap;
    box-shadow: inset 0 2px 12px #0000008c;
}

.javascriptLog {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.applicationMessage {
    color: white;
    background: #0045c5;
    position: fixed;
    width: 100%;
    padding: 8px 8px;
    top: -40px;
    text-align: center;
    transition: .3s all;
    transition-property: top;
    box-sizing: border-box;
    z-index: 3;
}

.applicationMessage.shown {
    box-shadow: 0 2px 8px #0000008c;
    top: 0px;
}

.controls {
    margin: 8px auto;
}

.controls button {
    margin: 0 4px;
}

button {
    padding: 4px 8px;
    border-radius: 4px;
    border-width: 2px;
}

button.primary {
    background: #0045c5;
    color: white;
}

button, textarea {
    font-size: 1rem;
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}

pre {
    margin: 0px;
}

.error {
    color: red;
}

.hidden {
    position: absolute;
    bottom: 100%;
}

.modal:not(.shown) {
    display: none;
}

.modal.shown {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.dialog {
    position: absolute;
    max-width: 950px;
    z-index: 2;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #faf7f7;
    border-radius: 4px;
    border-width: 2px;
}

.dialog .header {
    background-color: #c4c4c4;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 8px;
}

.dialog .content {
    padding: 8px;
}

.dialog .footer {
    text-align: center;
    padding: 8px;
}

.centered {
    text-align: center;
}

.noScroll {
    overflow: hidden;
}

.displayFlex {
    display: flex;
}

.marginLeftAuto {
    margin-left: auto;
}

.embedIframe {
    width: 100%;
}